<h1>Welcome to... The full application (well, it's gonna be here)</h1>
<%= link_to "Manage Users", controller: "users" %>
<%= link_to "Manage Grants", controller: "grants" %>
<%= link_to "Manage Tasks", controller: "tasks" %>
<%= link_to "Manage Settings", controller: "settings" %>
