
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style/style_login.css" />
</head>
<body>
<div id="container">
<div id="login_box">
<div id="login_std">
<div id="login_header">
Welcome to Sheffield ToDo List!
</div>
<div id="login_form">
<form id="auth_form" action="#" method="post">
<table border="0">
<tr>
<td>Username:</td><td><input type="text" name="uid" id="uid" /></td>
</tr>
<tr>
<td>Password:</td><td><input type="password" name="upwd" id="upwd" /></td>
</tr>
<tr>
<td></td><td><input type="checkbox" id="rem" /> Remember me please</td>
</tr>
<tr>
<td class="login"><input type="Submit" value="Log In" /></td><td><a href="#">Forgot your password?</a></td>
</tr>
</table>
</form>
</div>
</div>
<div id="login_social"><img src="img/google.jpg"></div>
</div>
</div>
</body>
</html>
