<h3>Calendar<h3>
<p>
  <%= link_to 'Create Event', id: 'new_event' %>
</p>
<div>
  <div class='calendar'></div>
</div>
<div id = "create_event_dialog" class="dialog" style="display:none;"></div>
<div id = "event_desc_dialog" class="dialog" style ="display:none;"></div>
<%= render 'form' %>
</div>

<script>
  $(document).ready(function(){
     $('new_event').click(function(event) {
      FullcalendarEngine.Form.display()
      event.preventDefault();
    });
     $('.calendar').fullCalendar(full_calendar_options);     
  });
</script>
