<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @type_of_funder.type %>
</p>

<%= link_to 'Edit', edit_type_of_funder_path(@type_of_funder) %> |
<%= link_to 'Back', type_of_funders_path %>
