<div class = note>
<p id="notice"><%= notice %></p>
</div>

<h1>Projects</h1>
<script src="assets/javascripts/toogle.js"></script>
 <link rel="stylesheet" type="text/css" media="all" href="assets/stylesheets/list.css">
<div id="toggle">
  <ul>
<li>Grants</li>

<%= render 'grants' %>


<li>Studentship</li>
<div call = "project" id='studentship'>
<%= render 'studentship' %>
</div>
</ul>
</div>
