<div class = note>
<p id="notice"><%= notice %></p>
</div>
<%= link_to 'Log out', destroy_sheff_ser_session_path, method: :delete, title: "Log out of the system" %>
<h1>Projects</h1>
<script src="assets/javascripts/toogle.js"></script>
 <link rel="stylesheet" type="text/css" media="all" href="assets/stylesheets/list.css">
<div id="toggle">
  <ul>
<li>Grants</li>
<div>
<%= render 'grants' %>
</div>

<li>Studentship</li>
<div call = "project" id='studentship'>
<%= render 'studentship' %>
</div>
</ul>
</div>
