<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student_subcat.name %>
</p>

<%= link_to 'Edit', edit_student_subcat_path(@student_subcat) %> |
<%= link_to 'Back', student_subcats_path %>
