body{font-family:Tahoma;}
ul{width:1024px;}
li:hover{background:#FFFFE0}
li{list-style-type:none; cursor:pointer; -moz-border-radius:0 10px 0 10px; border:3px solid #666666; margin:2px; padding:5px 5px 5px 5px;}
ul div{color: #666666; cursor: auto; display: none; font-size: 13px; padding: 5px 0 5px 20px; text-decoration: none; }
ul div a{color:#000000; font-weight:bold;}
li div:hover{text-decoration:none !important;}
li:before {content: "+"; padding:10px 10px 10px 0; color:red; font-weight:bold;}
li.active:before {content: "-"; padding:10px 10px 10px 0; color:red; font-weight:bold;}
#toggle{width:10000px; margin:0 auto;}
